includes:
    - phpstan-baseline.neon

parameters:
    level: 5
    paths:
        - src
    excludePaths:
        - src/Entity/Community
        - src/Service/Community
        - src/Controller/Community